node_modules/
.cache/
.npm/
.DS_Store
Thumbs.db


npm-debug.log*
yarn-debug.log*
yarn-error.log*



# dependencies
app/node_modules/
app/.pnp/
app/.pnp.js
app/coverage/
app/build/


# secrets
app/.env
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local
app/secrets.js
