@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}

#root {
  height: 100vh;
}


.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  padding: 6px 35px;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  right: 5px;
  top: 7px;
}
